@keyframes animateBackground {
    0% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

.leaderboardPage {
    background-color: black;
    color: white;

    animation: animateBackground 0.7s ease-in;
}

.table {
    border: 2px solid white;
    width: 550px;
}

.leaderboardPage {
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.row {
    gap: 1em;
    display: grid;
    grid-template-columns: 1fr 9.5fr 1fr;
    justify-self: start;
    padding: 0 0.4em;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 3.7em;
}

.heading {
    display: flex;
    align-items: center;
    width: 100%; 
    font-family: 'Cormorant Garamond';
    height: 3.6em;
    padding: 0 0.4em;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-family: 'Cormorant Garamond';
}

.verticalLine {
    margin: 0.1em 0.7em;
    width: 100%;
    border-left: 2px solid #f2f2f2;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.3em
}

.horizontalLine {
    height: 2px;
    background-color: white;
}

.timeStamp {
    color: rgb(212, 212, 212);
}

.titleName {
    font-size: 3.3em;
}