ol li{
  list-style-type: none;
  color: blue;
}

.box {
    position: absolute;
    pointer-events: none;
}
.dropdown {
    position: absolute;
    border: 2px solid #F9C349;
    background-color: #F9C349;
    color: black;
    font-weight: bold;
    font-family: 'Cormorant Garamond';
    width: 120px;
    transition: all 0.2s ease-in-out;
}

.option {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option:hover {
    background-color: black;
    cursor: pointer;
    color: #F9C349;
    font-weight: bold;
}

hr {
    background-color: black;
    border: none;
    height: 1px;
}