ol li{
  list-style-type: none;
  color: blue;
}

.box {
    position: absolute;
    pointer-events: none;
}
.dropdown {
    position: absolute;
    border: 2px solid black;
    width: 70px;
}

.option {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option:hover {
    background-color: rgb(244, 244, 244);
    cursor: pointer;
}