.gameList {
    display: flex;
    flex-direction: row;
    gap: 2vw;

    /* margin: 2vw 3vw; */
}

.Title {
    color: white;
    font-family: 'Cormorant Garamond';
    font-size: 3.5vw;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vw;
}

.container {
    background-color: black;
    padding: 4vw 3vw;
}