.box {
  /* pointer-events: none; */
}
.Image {
  border: 2px solid black;
  /* width: auto; */
  /* min-height: 100vh; */
  /* height: auto; */
  cursor: pointer;
  background-size: contain;
}
*, *::before, *::after {
  box-sizing: border-box;
}

img:focus {
  outline: none;
}