.box {
  /* pointer-events: none; */
}
.imgtag {
  display: block;
  position: relative;
}
.Image {
  border: 2px solid black;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
*, *::before, *::after {
  box-sizing: border-box;
}

img:focus {
  outline: none;
}