.box {
  /* pointer-events: none; */
}
.Image {
    border: 2px solid black;
    width: 1200px;
    height: 700px;
    cursor: pointer;
    background-image: url('../../assets/settings/set1.jpeg');
    background-size: cover;
}
*, *::before, *::after {
  box-sizing: border-box;
}
